.reveal h1 {
    font-size: 44px; /* Adjust the font size as needed */
}

.reveal[data-navigation-mode=linear] .title-slide h1 {
    font-size: 44px;
}

.reveal .quarto-title-block .quarto-title-authors {
    padding-top: 10em;
}


.reveal .slide figure>figcaption,.reveal .slide img.stretch+p.caption,.reveal .slide img.r-stretch+p.caption {
    font-size: 0.7em;
    font-weight: lighter;
    color: #747a7f
}

.reveal .bottom-image {
    position: absolute;
    bottom: 0;
    width: 50%;
  }



.center-xy {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translateY(-50%), translateX(-50%);
    transform: translateY(-50%), translateX(-50%);
}

table.custom-small-table {
    font-size: 0.35em;
  }



/* .reveal p {
    font-weight: lighter;
    margin-top: 1.25em
} */


/* Specific style for h1 on the title slide */
/* .reveal .title-slide h1 {
    font-size: 40px; /* Larger font size for the title slide */
/* } */

/* .reveal .title-slide slide level1 center present {
    font-size: 40px; 
}  */



/* .reveal .quarto-title-block .quarto-title-authors .quarto-title-author a {
    padding-top: 15em;
} */